# Dim direnv status messages
export DIRENV_LOG_FORMAT=$'\033[2mdirenv: %s\033[0m'

# source .venv/bin/activate

export ZMK_BUILD_DIR="$(pwd)/build"
export ZMK_SRC_DIR="$(pwd)/zmk/app"

# # Also rebuild if other local flake inputs change
# watch_file nix/*
#
# # Use flake
# use flake
export ZEPHYR_SDK_INSTALL_DIR=/home/btilford/zephyr-sdk-0.17.0
export PATH=/home/btilford/zephyr-sdk-0.17.0/arm-zephyr-eabi/bin:$PATH

# sourc ~/zephyr-sdk-0.16.5/zephyr-env.sh


