/* Trackball scroll configuration for crosses left */

#include "mouse.dtsi"

/* Configure trackball_peripheral_listener with mouse scroll properties */
&trackball_peripheral_listener {
  warp {
    layers = <MOTION>;
    input-processors = <&zip_scroll_scaler 2 1>;
  };
  precision {
    layers = <FKEYS>;
    input-processors = <&zip_scroll_scaler 1 2>;
  };
};

/* Alias mouse scroll listener to configured trackball listener */
&msc_input_listener = &trackball_peripheral_listener;

/* Disable movement listener - not used on left side */
&mmv_input_listener {
  status = "disabled";
};