/* Trackball scroll configuration for crosses left */

#include "trackball_base.dtsi"

/*
 * Configure trackball_peripheral_listener with mouse scroll properties
 * This overrides the basic configuration from the crosses overlay
 */
&trackball_peripheral_listener {
  warp {
    layers = <MOTION>;
    input-processors = <&zip_scroll_scaler 2 1>;
  };
  precision {
    layers = <FKEYS>;
    input-processors = <&zip_scroll_scaler 1 2>;
  };
};

/* Alias mouse scroll listener to the configured trackball listener */
&msc_input_listener = &trackball_peripheral_listener;

/* Disable movement listener - not used on left side */
&mmv_input_listener {
  status = "disabled";
};