/* Trackball movement configuration for crosses right */

#include "trackball_base.dtsi"

/* Create input listener for PMW3610 trackball device */
trackball_movement_listener: trackball_movement_listener {
  compatible = "zmk,input-listener";
  status = "okay";
  device = <&pixart_pmw3610_0>;  /* Reference first PMW3610 device */
  warp {
    layers = <MOTION>;
    input-processors = <&zip_xy_scaler 3 1>;
  };
  precision {
    layers = <FKEYS>;
    input-processors = <&zip_xy_scaler 1 2>;
  };
};

/* Alias mouse movement listener to our custom listener */
&mmv_input_listener = &trackball_movement_listener;

/* Disable scroll listener - not used on right side */
&msc_input_listener {
  status = "disabled";
};