/* Fallback trackball configuration for crosses keyboard */

#include "mouse.dtsi"

/* Configure both trackball listeners with appropriate properties */
&trackball_peripheral_listener {
  warp {
    layers = <MOTION>;
    input-processors = <&zip_scroll_scaler 2 1>;
  };
  precision {
    layers = <FKEYS>;
    input-processors = <&zip_scroll_scaler 1 2>;
  };
};

&trackball_central_listener {
  warp {
    layers = <MOTION>;
    input-processors = <&zip_xy_scaler 3 1>;
  };
  precision {
    layers = <FKEYS>;
    input-processors = <&zip_xy_scaler 1 2>;
  };
};

/* Dual aliases - enabled listener takes precedence */
&mmv_input_listener = &trackball_central_listener;
&msc_input_listener = &trackball_peripheral_listener;